
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 100 900;
  font-display: auto;
  src: url(/fonts/RobotoCondensed-Italic-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 100 900;
  font-display: auto;
  src:  url(/fonts/RobotoCondensed-VariableFont_wght.ttf) format('truetype');
}